/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #f0f0f0;
  --main-blue: #45567d;
  --main-gray: #303841;
}

/* Base reset */
* {
  margin: 0;
  padding: 0;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  /* Set font size for easy rem calculations
   * default document font size = 16px, 1rem = 16px, 100% = 16px
   * (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* A few media query to set some font sizes at different screen sizes.
 * This helps automate a bit of responsiveness.
 * The trick is to use the rem unit for size values, margin and padding.
 * Because rem is relative to the document font size
 * when we scale up or down the font size on the document
 * it will affect all properties using rem units for the values.
*/

/* I am using the em unit for breakpoints
 * The calculation is the following
 * screen size divided by browser base font size
 * As an example: a breakpoint at 980px
 * 980px / 16px = 61.25em
*/

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }

}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.8rem; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color:  #303841;
  
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

img {
  display: block;
  width: 100%;
}

/* nav */

.nav {
 
  
  box-shadow: 0px 0px 10px 2px #7f7f7f;
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #303841;
 
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}


#education{
  
  height:700px;
  padding-top: 100px;

 

}



.topcard{
  display: flex;
  justify-content: space-around;
  padding:10px;
}

.educard{
  
  width:70%;
  text-align: center;
  margin:auto;
  background-color:white;
  


  

  
  
}

.educard:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.2);

}



#cover{
  width:300px;
  height:100px;
  margin-right: auto;

}

#hire{
  height:610px;
  padding-top: 40px;
  border: 4px solid var(--main-red);


}

#hire form{
  text-align: center;
  background-color: #eee;
  width: 60%;
  margin:auto;
  height:450px;
  padding:30px;
  border: 10px solid #303841;
  border-radius: 40px;

}

 .field{

  padding:20px;


}

#hire input{
  border: 5px solid #303841;
  height:50px;
  width:70%;
  text-align: center;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;

}

#hire input::placeholder{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

textarea::placeholder{
  font-family: Arial, Helvetica, sans-serif;
}

#hire h1{
  color:#303841;

}

#hire textarea{
width:70%;
}

#hire label{
  color:#303841;
}

.button{
  font-size:20px;
  font-family: Arial, Helvetica, sans-serif;
}

.button:hover{
  background-color: rgb(253, 52, 52);
}


@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.nav-list a:hover {
  box-shadow: 0 0 11px rgba(240, 235, 235, 0.39);

}

/* Welcome section */

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 110vh;
  background-image:url("mypic3.jpg");
  
  background-size:cover;
  background-position: center;
  opacity:0.7;
  
  margin-top: 60px;
  

  
}
.welcome-section h1{
  color: black;
  padding-top: 260px;
}

#down_button i{

}



.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
  color: var(--main-red);
}

/* Projects section */

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #eee;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid var(--main-white);
}

@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* "Automagic" image grid using no media queries */
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: var(--main-gray);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.btn-show-all {
  font-size: 2rem;
  background: var(--main-gray);
  transition: background 0.3s ease-out;
}

.btn-show-all:hover {
  background: var(--main-red);
}

.btn-show-all:hover > i {
  transform: translateX(2px);
}

.btn-show-all > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}

/* Contact section */

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: var(--main-gray);
  
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Footer */

footer {
  font-weight: 300;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: var(--main-gray);
  border-top: 4px solid var(--main-red);
  text-align: center;
 
}

#mediaicon{

  width:60%;
  margin: auto;
 
 



}

.fab:hover{
  color:#2196F3;
 
}




footer > p {
  margin: 2rem;
}

footer i {
  vertical-align: middle;
}

@media (max-width: 28.75em) {
  footer {
    flex-direction: column;
    text-align: center;
  }
}



/*skills section */
#skills{
  background-color:  #45567d;
  height: 700px;
  padding-top: 80px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  
  
}


#skillcontainer{
  width:60%;
  margin:auto;
}

.scontainer {
  width: 100%;
  background-color: #ddd;
  border-radius: 11px;
  height: 25px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  border-radius: 11px;
  height: 25px;

}

.html {width: 70%; background-color: #4CAF50;}
.css {width: 70%; background-color: #2196F3;}
.js {width: 65%; background-color: #f44336;}
.php {width: 60%; background-color: #808080;}
.cpp {width: 85%; background-color: #f44336;}
.c {width: 80%; background-color: #808080;}
.java {width: 70%; background-color: #f44336;}
.python {width: 60%; background-color: #808080;}



/*experience*/
#experience{
  background-color: #ccc;
  padding-top: 70px;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  
  
}
#exp_box{

 
  width:60%;
  margin:auto;

 
  

}

.exp_data{
  background-color: #45567d;
  width:300px;
  margin-left: 30px;
  
  
  

}

#experience li{
list-style-type: none;
position: relative;
width: 6px;

padding-top: 50px;
background: black;
}

#experience ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}










/* demooooooooooooo*/

@media (min-width: 768px){

  html{
    font-size: 62.5%;
  }
}

@media (max-width: 767px){

  html{
    font-size: 55%;
  }
}

body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  font-size: 1.6rem;
  color: #222;

  background-color: #f0f0f0;
  margin: 0;
  -webkit-overflow-scrolling: touch;   
  overflow-y: scroll;
  
  display: flex;
  flex-direction: column;
}

p{
  margin-top: 0;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}

p:last-child{
  margin-bottom: 0;
}

.page{
  max-width: 800px;
  padding: 10rem 2rem 3rem;
  margin-left: auto;
  margin-right: auto;
  order: 1;
}

/*
=====
LinkedIn
=====
*/

.linkedin{
  background-color: #fff;
  text-align: center;
}

.linkedin__container{
  max-width: 1000px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;  
}

.linkedin__text{
  margin-top: 0;
  margin-bottom: 0;
}

.linkedin__link{
  color: #ff5c5c;
}




/* download my cvvvv  */

#resume{
  height:300px;
  text-align: center;
  background-color: #45567d;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  padding-top: 80px;
}

#resume h2{
  
  
}

i{
  color: white;
  
 
}
i:hover{
  color:#303841;
}






/* about meeeeeeeee    */
#about{
  display:flex;
  
  background-color: white;
  
  height: 700px;
  color: #303841;
  font-size: 20px;
  

}

#aboutme{
  width:50%;
  margin: auto;
  back
  

 

}

#quote {

  width:50%;
  margin: auto;
  text-align:center; 
}

#quote h3{
  padding: 30px;
}


/* typewriter effect */



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

.container h1, h2 {
  font-weight: 200;
  margin: 0.4rem;
}

.container h1 {
  font-size: 3.5rem;
}

.container h2 {
  font-size: 2rem;
  color: #aaa;
}

/* Cursor */
.txt-type > .txt {
  border-right: 0.2rem solid #777;

}



@media(min-width: 1200px) {
 .container h1 {
    font-size: 5rem;
  }
}

@media(max-width: 800px) {
  .container {
    padding: 0 1rem;
  }

 .container h1 {
    font-size: 3rem;
  }
}

@media(max-width: 500px) {
 .container h1 {
    font-size: 2.5rem;
  }

  .container h2 {
    font-size: 1.5rem;
  }
}

